USE [CentroEducativo]
GO
/****** Object:  UserDefinedFunction [dbo].[ContarEstudiantesPorMateria]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Función para Contar estudiantes Por Materia.
CREATE FUNCTION [dbo].[ContarEstudiantesPorMateria] (@ID_Materia INT)
RETURNS INT
AS
BEGIN
    DECLARE @Total INT
    
    SELECT @Total = COUNT(*)
    FROM dbo.Matricula
    WHERE ID_Materia = @ID_Materia

    RETURN @Total;
END
GO
/****** Object:  UserDefinedFunction [dbo].[ContarProfesoresPorEspecializacion]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Función para Contar Profesores Por Especialización.
CREATE FUNCTION [dbo].[ContarProfesoresPorEspecializacion] (@Especializacion NVARCHAR(100))
RETURNS INT
AS
BEGIN
    DECLARE @Total INT

    SELECT @Total = COUNT(*)
    FROM dbo.Profesor
    WHERE Especializacion = @Especializacion

    RETURN @Total;
END
GO
/****** Object:  Table [dbo].[Congelamiento]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Congelamiento](
	[ID_Congelamiento] [int] NOT NULL,
	[ID_Fecha] [int] NOT NULL,
	[ID_Motivo] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Congelamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[ObtenerCongelamientosActivos]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Función para Obtener Congelamientos Activos.
CREATE FUNCTION [dbo].[ObtenerCongelamientosActivos]()
RETURNS TABLE
AS
RETURN (
    SELECT *
    FROM dbo.Congelamiento
    WHERE Activo = 1
);
GO
/****** Object:  UserDefinedFunction [dbo].[ObtenerCongelamientosInactivos]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Función para Obtener Congelamientos Inactivos.
CREATE FUNCTION [dbo].[ObtenerCongelamientosInactivos]()
RETURNS TABLE
AS
RETURN (
    SELECT *
    FROM dbo.Congelamiento
    WHERE Activo = 0
);
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[ID_Estudiante] [int] NOT NULL,
	[ID_DatosPersonales] [int] NOT NULL,
	[Apellido] [nvarchar](30) NOT NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
	[Genero] [nvarchar](30) NOT NULL,
	[Annio_Ingreso] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosPersonales]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosPersonales](
	[ID_DatosPersonales] [int] NOT NULL,
	[ID_Estudiante] [int] NOT NULL,
	[Direccion] [nvarchar](500) NOT NULL,
	[Correo] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DatosPersonales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaEstudiante]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Vista para Estudiantes con Datos Personales.
CREATE VIEW [dbo].[VistaEstudiante]
AS
SELECT
    e.ID_Estudiante,
    e.Nombre,
    e.Apellido,
    e.Fecha_Nacimiento,
    e.Genero,
    e.Annio_Ingreso,
    dp.Direccion,
    dp.Correo
FROM dbo.Estudiante e
INNER JOIN dbo.DatosPersonales dp
    ON e.ID_DatosPersonales = dp.ID_DatosPersonales;
GO
/****** Object:  Table [dbo].[Fecha]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fecha](
	[ID_Fecha] [int] NOT NULL,
	[ID_Congelamiento] [int] NOT NULL,
	[Fecha_Inicio] [date] NOT NULL,
	[Fecha_Fin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaFechasMayores]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista para Fechas Mayores a Cierta Fecha.
CREATE VIEW [dbo].[VistaFechasMayores]
AS
SELECT *
FROM dbo.Fecha
WHERE Fecha_Inicio > '2023-12-14';
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[ID_Materia] [int] NOT NULL,
	[ID_Profesor] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[ID_Matricula] [int] NOT NULL,
	[ID_Materia] [int] NOT NULL,
	[ID_Estudiante] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaEstudiantesMateria]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista para Estudiantes y Materias.
CREATE VIEW [dbo].[VistaEstudiantesMateria]
AS
SELECT
    e.ID_Estudiante,
    e.Nombre,
    e.Apellido,
    m.Nombre AS Materia
FROM dbo.Estudiante e
INNER JOIN dbo.Matricula ma ON e.ID_Estudiante = ma.ID_Estudiante
INNER JOIN dbo.Materia m ON ma.ID_Materia = m.ID_Materia;
GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor](
	[ID_Profesor] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
	[Apellido] [nvarchar](30) NULL,
	[Correo] [nvarchar](50) NULL,
	[Especializacion] [bit] NULL,
	[Titulo_Academico] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaEstudiantesMateriaProfesor]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista para Estudiantes, Materias y Profesores.
CREATE VIEW [dbo].[VistaEstudiantesMateriaProfesor]
AS
SELECT 
    e.ID_Estudiante,
    e.Nombre AS Nombre_Estudiante,
    e.Apellido,
    m.Nombre AS Materia,
    p.Nombre AS Profesor
FROM dbo.Estudiante e
INNER JOIN dbo.Matricula ma 
    ON e.ID_Estudiante = ma.ID_Estudiante
INNER JOIN dbo.Materia m 
    ON ma.ID_Materia = m.ID_Materia
INNER JOIN dbo.Profesor p 
    ON m.ID_Profesor = p.ID_Profesor;
GO
/****** Object:  Table [dbo].[Motivo]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motivo](
	[ID_Motivo] [int] NOT NULL,
	[ID_Congelamiento] [int] NOT NULL,
	[Salud] [bit] NULL,
	[Laboral] [bit] NULL,
	[Otros] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Motivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaCongelamientoMotivo]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista para Congelamiento con Motivo.
CREATE VIEW [dbo].[VistaCongelamientoMotivo]
AS
SELECT
    c.ID_Congelamiento,
    c.ID_Fecha,
    m.Salud,
    m.Laboral,
    m.Otros,
    c.Activo AS Congelamiento_Activo
FROM dbo.Congelamiento c
INNER JOIN dbo.Motivo m
    ON c.ID_Motivo = m.ID_Motivo;
GO
/****** Object:  Table [dbo].[Auditoria]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[ID_Auditoria] [int] NOT NULL,
	[Mensaje] [nvarchar](300) NOT NULL,
	[Fecha_Registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hora]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hora](
	[ID_Hora] [int] NOT NULL,
	[ID_Horario] [int] NOT NULL,
	[Hora_Inicial] [nvarchar](10) NULL,
	[Hora_Final] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Hora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horario]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horario](
	[ID_Horario] [int] NOT NULL,
	[ID_Materia] [int] NOT NULL,
	[Numero_Dia] [nvarchar](5) NULL,
	[ID_Hora] [int] NULL,
	[Periodo_Academico] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [Fecha_Registro]
GO
ALTER TABLE [dbo].[DatosPersonales]  WITH CHECK ADD FOREIGN KEY([ID_Estudiante])
REFERENCES [dbo].[Estudiante] ([ID_Estudiante])
GO
ALTER TABLE [dbo].[Fecha]  WITH CHECK ADD FOREIGN KEY([ID_Congelamiento])
REFERENCES [dbo].[Congelamiento] ([ID_Congelamiento])
GO
ALTER TABLE [dbo].[Hora]  WITH CHECK ADD FOREIGN KEY([ID_Horario])
REFERENCES [dbo].[Horario] ([ID_Horario])
GO
ALTER TABLE [dbo].[Horario]  WITH CHECK ADD FOREIGN KEY([ID_Materia])
REFERENCES [dbo].[Materia] ([ID_Materia])
GO
ALTER TABLE [dbo].[Materia]  WITH CHECK ADD FOREIGN KEY([ID_Profesor])
REFERENCES [dbo].[Profesor] ([ID_Profesor])
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD FOREIGN KEY([ID_Estudiante])
REFERENCES [dbo].[Estudiante] ([ID_Estudiante])
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD FOREIGN KEY([ID_Materia])
REFERENCES [dbo].[Materia] ([ID_Materia])
GO
ALTER TABLE [dbo].[Motivo]  WITH CHECK ADD FOREIGN KEY([ID_Congelamiento])
REFERENCES [dbo].[Congelamiento] ([ID_Congelamiento])
GO
/****** Object:  StoredProcedure [dbo].[ActualizarFechaFinalCongelamiento]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Actualizar Fecha Final de Congelamiento.
CREATE PROCEDURE [dbo].[ActualizarFechaFinalCongelamiento]
    @ID_Fecha INT,
    @NuevaFechaFinal DATE
AS
BEGIN
    UPDATE dbo.Fecha
    SET Fecha_Fin = @NuevaFechaFinal
    WHERE ID_Fecha = @ID_Fecha;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerAnnioIngresoEstudiante]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Obtener Año de Ingreso de Estudiante.
CREATE PROCEDURE [dbo].[ObtenerAnnioIngresoEstudiante]
    @ID_Estudiante INT
AS
BEGIN
    SELECT Annio_Ingreso
    FROM dbo.Estudiante
    WHERE ID_Estudiante = @ID_Estudiante;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEstudiantePorDireccion]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Obtener Estudiante Por Direccion.
CREATE PROCEDURE [dbo].[ObtenerEstudiantePorDireccion]
    @Direccion NVARCHAR(500)
AS
BEGIN
    SELECT e.*
    FROM dbo.Estudiante e
    INNER JOIN dbo.DatosPersonales dp
        ON e.ID_DatosPersonales = dp.ID_DatosPersonales
    WHERE dp.Direccion = @Direccion;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEstudiantePorMateria]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento almacenado para Obtener Estudiantes Por Materia.
CREATE PROCEDURE [dbo].[ObtenerEstudiantePorMateria]
    @ID_Materia INT
AS
BEGIN
    SELECT e.*
    FROM dbo.Matricula m
    INNER JOIN dbo.Estudiante e ON m.ID_Estudiante = e.ID_Estudiante
    WHERE m.ID_Materia = @ID_Materia;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerHorarioPorMateria]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Obtener Horario Por Materia.
CREATE PROCEDURE [dbo].[ObtenerHorarioPorMateria]
    @ID_Materia INT
AS
BEGIN
    SELECT *
    FROM dbo.Horario
    WHERE ID_Materia = @ID_Materia;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerMateriasPorProfesor]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Obtener Materias Por Profesor.
CREATE PROCEDURE [dbo].[ObtenerMateriasPorProfesor]
    @ID_Profesor INT
AS
BEGIN
    SELECT *
    FROM dbo.Materia
    WHERE ID_Profesor = @ID_Profesor;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerMotivo]    Script Date: 7/2/2026 22:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Obtener Motivo.
CREATE PROCEDURE [dbo].[ObtenerMotivo]
AS
BEGIN
    SELECT *
    FROM dbo.Motivo;
END
GO
